BODY
{
    background-color: #FFFFFF;
    color: #333366;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: small;
    color: black;
    
}

.error
{
    background-color: #CC0000;
    color:white;
}


.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	padding: 8px;
	margin: 16px;
}

.referenciaMini {
	font-size:x-small;
	color:gray;
}


